<p>pipe works!</p>

<ul>
  <li>{{ "alvin" | uppercase }} {{ "ALVIN" | lowercase }}</li>
  <li>{{ now | date: "yyyy-MM-dd HH:mm:ss" }}</li>
</ul>

<ul>
  <!--output '$0.26'-->
  <li>A: {{ a | currency }}</li>

  <!--output 'CA$0.26'-->
  <li>A: {{ a | currency: "CAD" }}</li>

  <!--output 'CAD0.26'-->
  <li>A: {{ a | currency: "CAD":"code" }}</li>

  <!--output 'CA$0,001.35'-->
  <li>B: {{ b | currency: "CAD":"symbol":"4.2-2" }}</li>

  <!--output '$0,001.35'-->
  <li>B: {{ b | currency: "CAD":"symbol-narrow":"4.2-2" }}</li>

  <!--output '0 001,35 CA$'-->
  <li>B: {{ b | currency: "CAD":"symbol":"4.2-2":"fr" }}</li>

  <!--output 'CLP1' because CLP has no cents-->
  <li>B: {{ b | currency: "CLP" }}</li>
</ul>

<h4>自定义管道</h4>

<p>{{ "hello" | test }}</p>
