body
  font-family -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol
  font-variant tabular-nums
  font-feature-settings "tnum","tnum","tnum"
  color #454d64
  font-size 15px

.page
  .theme-default-content
    div[class*="language-"]
      font-size 92%

.orange
  color #fa8919
  font-weight bold

.small
  width 30em

.thumbnail
  width 10rem

.pink
  padding 3px
  background-color pink

.MathJax 
  font-weight bold

.green
  padding 0.5em
  border-left: 4px solid #42b983
  display block
  background #f7f7f7

.mgreen 
  background-color #25c2a0;
  border-radius 2px;
  color #fff;
  padding 0.2rem;


aside.sidebar 
  width 19rem
  .collapsable > p
    display flex
    justify-content space-between
    align-items: center
  .sidebar-heading:hover
    background-color #f2f2f2  
  .collapsable .sidebar-group.is-sub-group > .sidebar-heading:not(.clickable)
    opacity 1
  > .sidebar-links
    padding 0.5rem 0
  > .sidebar-links > li > a.sidebar-link
    font-size: inherit
    line-height: inherit
    font-weight: inherit
  > .sidebar-links > li:not(:first-child)
    margin 0
  .sidebar-heading
    font-size inherit
  .arrow  
    position static
