body
  font-family -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol
  font-variant tabular-nums
  font-feature-settings "tnum","tnum","tnum"
  color #454d64
  font-size 15px

.page
  .theme-default-content
    div[class*="language-"]
      font-size 92%
    code
      font-size 95%   
      
aside.sidebar 
  width 19rem
  .open
    color #3eaf7c
    font-weight bold !important
  .collapsable > p
    display flex
    justify-content space-between
    align-items: center
  .sidebar-heading:hover
    background-color #f2f2f2  
  .collapsable .sidebar-group.is-sub-group > .sidebar-heading:not(.clickable)
    opacity 1
  > .sidebar-links
    padding 0.5rem 0
  > .sidebar-links > li > a.sidebar-link
    font-size: inherit
    line-height: inherit
    font-weight: inherit
    padding 0 1rem 0 1.25rem
  > .sidebar-links > li:not(:first-child)
    margin 0
  .sidebar-heading
    font-size inherit
  .arrow  
    position static

.note
  margin 1rem 0
  padding .1rem 1.3rem
  border-radius 0.4rem
  background-color rgb(235, 237, 240)
  color rgb(28, 30, 33)
  .title
    font-weight bold
  .custom-block-title::before
    content ''
    display inline-block
    width 19px
    height 22px
    background url('/note.svg')
    background-size contain
    margin-right 0.3em
    vertical-align bottom
    transform translateY(-2px)

.info
  margin 1rem 0
  padding .1rem 1.3rem
  border-radius 0.4rem
  background-color rgb(84, 199, 236);
  color #fff
  .title
    font-weight bold
  .custom-block-title::before
    // content url('/info.svg')
    content ''
    font-size 19px
    display inline-block
    width 19px
    height 22px
    background url('/info.svg')
    background-size contain
    margin-right 0.3em
    vertical-align bottom
    transform translateY(-2px)
    

.custom-block.danger
  margin 1rem 0
  padding .1rem 1.3rem
  border-radius 0.4rem
  background-color rgb(250, 56, 62)
  color #fff
  border 0
  .custom-block-title 
    color #fff
  .custom-block-title::before
    content ''
    font-size 19px
    display inline-block
    width 17px
    height 22px
    background url('/danger.svg')
    background-size contain
    margin-right 0.3em
    vertical-align bottom
    transform translateY(-2px)
.custom-block.details summary
  user-select 
  
.MathJax 
  font-weight bold

.orange
  color #fa8919
  font-weight bold

.small
  width 30em

.blue 
  background-color #1877f2
  border-radius 2px
  color #fff
  padding 0.2rem

.mgreen 
  background-color #25c2a0;
  border-radius 2px;
  color #fff;
  padding 0.2rem;
  code
    color inherit



