.page .content__default code {
   color: #ff5513;
}

.sidebar-links .sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
  opacity: 1;
}

.page blockquote {
   color: #454d64;
   border-left: 0.25rem solid #69b9ff;
   background: #fff;
   box-shadow: 0 0 6px -2px #000;
}

.red {
   color: red;
}

.sidebar-links>li>a {
  padding-left: 18px;
}


section.sidebar-group .sidebar-group-items .sidebar-link {
   padding: 0.35rem 1rem 0.35rem 2.25rem;
}